# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
src/assets/images/giving/
src/assets/images/new-images
src/assets/images/job-positions
public/images/images/partners
public/images/images/giving
public/images/images/icons
public/images/images
public/images/videos
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
