@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #bc9f62;
}

li:hover > svg {
  fill: #bc9f62;
}

li:hover > a {
  color: #bc9f62;
}

input,
textarea {
  width: 100%;
  border: none;

  border: 1px solid #cbd5e1;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 1.3rem;
}
