@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gold: #bc9f62;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
.remove-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  background: transparent;
}

.modal-scroll::-webkit-scrollbar {
  width: 5px;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background-color: #23313f;
}

.modal-scroll-sm::-webkit-scrollbar {
  width: 5px;
}

.modal-scroll-sm::-webkit-scrollbar-thumb {
  background-color: var(--bg-gold);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-gold);
}

li:hover > svg {
  fill: var(--bg-gold);
}

li:hover > a {
  color: var(--bg-gold);
}

.business-image-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.business-image:hover .business-image-text {
  transform: translateY(0);
}

input,
textarea {
  width: 100%;
  border: none;

  border: 1px solid #cbd5e1;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 1.3rem;
}

.outfit-500 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-300 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-200 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-100 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@media screen and (max-width: 480px) {
  input,
  textarea {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}

/* loader component */
.loader {
  border: 4px solid var(--bg-gold);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid var(--bg-gold);
  border-left-color: transparent;
  width: 50px;
  height: 50px;
}

.loader {
  border: 4px solid var(--bg-gold);
  border-left-color: transparent;
  width: 50px;
  height: 50px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
