@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #bc9f62;
}

li:hover > svg {
  fill: #bc9f62;
}

li:hover > a {
  color: #bc9f62;
}
